header{
    position: fixed;
    top: 0;
    left: 25%;
    width: calc(75% - 30px);
    padding: 8px 15px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    transition: left .8s;
}
.mini header{
    width: calc(100% - 30px);
    left: 0;
}
.hamburger img{
    display: block;
    height: 30px;
    width: 30px;
}